<div class="modal-backdrop fade show" *ngIf="isOpen" (click)="onBackdropClick($event)"></div>

<div
  [ngClass]="modalClasses"
  [attr.aria-hidden]="!isOpen"
  role="dialog"
  aria-modal="true"
  [attr.aria-labelledby]="title ? 'modal-title' : null"
  tabindex="-1"
>
  <div [ngClass]="dialogClasses">
    <div class="modal-content">
      <!-- Header -->
      <div class="modal-header" *ngIf="title || closable">
        <h5 class="modal-title" id="modal-title" *ngIf="title">{{ title }}</h5>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          *ngIf="closable"
          (click)="close()"
        ></button>
      </div>

      <!-- Body -->
      <div class="modal-body">
        <ng-content select="[modal-body]" *ngIf="hasProjectedContent"></ng-content>
        <div *ngIf="!hasProjectedContent && data?.contentHtml" [innerHTML]="data.contentHtml"></div>
        <ng-template #dynamicContent></ng-template>
      </div>

      <!-- Footer -->
      <div class="modal-footer" *ngIf="buttons.length > 0 || showCloseButton">
        <ng-content select="[modal-footer]"></ng-content>
        <button
          *ngFor="let button of buttons"
          type="button"
          class="btn"
          [ngClass]="'btn-' + (button.style || 'secondary')"
          [disabled]="button.disabled"
          (click)="onButtonClick(button)"
        >
          <i *ngIf="button.icon" [ngClass]="button.icon" aria-hidden="true"></i>
          {{ button.label }}
        </button>
        <button
          *ngIf="showCloseButton"
          type="button"
          class="btn btn-secondary"
          (click)="close()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>