<button [type]="type" [class]="buttonClasses" [disabled]="isDisabled" (click)="onButtonClick($event)"
  (focus)="onFocus($event)" (blur)="onBlur($event)" (mouseenter)="onMouseEnter($event)"
  (mouseleave)="onMouseLeave($event)" (dblclick)="onDoubleClick($event)" (keydown)="onKeyDown($event)">
  @if (loading) {
  <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
  }
  @if (hasLeftIcon && !loading) {
  <i [class]="icon" aria-hidden="true"></i>
  }
  <ng-content></ng-content>
  @if (hasRightIcon && !loading) {
  <i [class]="icon" aria-hidden="true"></i>
  }
</button>
