<div class="container-fluid">
  <h2>Modal Demo</h2>
  <p>Demo các loại modal với cấu hình khác nhau.</p>

  <div class="row">
    <div class="col-md-3 mb-3">
      <button class="btn btn-primary w-100" (click)="openAlertModal()">
        Alert Modal
      </button>
    </div>
    <div class="col-md-3 mb-3">
      <button class="btn btn-success w-100" (click)="openConfirmModal()">
        Confirm Modal
      </button>
    </div>
    <div class="col-md-3 mb-3">
      <button class="btn btn-warning w-100" (click)="openFormModal()">
        Form Modal
      </button>
    </div>
    <div class="col-md-3 mb-3">
      <button class="btn btn-info w-100" (click)="openCustomModal()">
        Custom Modal
      </button>
    </div>
  </div>

</div>
