.checkbox-demo pre {
  min-height: 80px;
}

.event-log {
  max-height: 400px;
  overflow-y: auto;
  padding-right: 0.5rem;
}

.event-log::-webkit-scrollbar {
  width: 6px;
}

.event-log::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}

.event-log::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

.event-log::-webkit-scrollbar-thumb:hover {
  background: #555;
}